*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.navtop{
	height:40px;
	line-height: 40px;
	background: #000000;
	/* mistyrose 藕粉色  salmon 偏西瓜红 lavenderblush淡粉色*/
	
}

.navtop a{
	color: #E793B4;
	text-decoration: none;
}

.navtop .content{
	width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}

.navtop .content .left span{
	color: #E793B4;
	
}

.navtop .content .right{
	display: flex;
	
}

.navtop .content .right .loginModel a{
	padding: 0 5px;
}

.navtop .content .right .buycar a{
	display: block;
	width:100px;
	height: 40px;
	background: #333333;
	text-align: center;
}

.navtop .content .right .buycar a:hover{
	color:#F4C8D8;
	background: #FFFFFF;
}

/* 导航部分 */
.nav{
	width:1100px;
	height:60px;
	margin:0 auto;
	line-height: 60px;
	display:flex;
	justify-content: space-between;
}

.nav .navleft{
	display:flex;
	width:200px;
	align-items: center;
}

.nav .navleft .logo{
	width:70px;
	height:60px;
}

.nav .navright{
	display:flex;
	flex:1;
	justify-content: space-between;
	align-items: center;
}

.nav .navright .navList a{
	font-size:16px;
	text-decoration: none;
	color:#111111;
	padding: 0 7px;
}

.nav .navright .navSearch{
	width:300px;
	height:40px;
	display: flex;
	
}

.nav .navright .navSearch .input span{
	display:block;
	width:60px;
	height: 25px;
	position: absolute;
	right:10px;
	top:50%;
	margin-top: -10px;
	font-size: 13px;
	line-height:25px;
	background: #eee;
	color: #757575;
	text-align: center;
}

.nav .navright .navSearch .input span.skirt0{
	right:80px;
	width:40px;
}

.nav .navright .navSearch .input span:hover{
	background: pink;
	color:white;
}

.input{
	display:flex;
	position: relative;
}

.input input{
	border:1px solid #b0b0b0;
	outline: none;
	width:260px;
	padding:0 10px;
}

.input input:focus{
	border:1px solid pink;
}

.navSearch .searchBtn{
	width:40px;
	height: 40px;
	border:1px solid #b0b0b0;
	border-left: none;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.navSearch .searchBtn span{
	font-size: 20px ;
}

.navSearch .searchBtn:hover{
	background: pink;
	border:1px solid pink;
	color: #FFFFFF;
}

/* banner */
.banner{
	width:1100px;
	margin:0 auto;
	display:flex;
	position: relative;
}

.banleft{
	width:200px;
	height:385px;
	color:whitesmoke;
	background: rgba(0,0,0,0.6);
	font-size: 15px;
}


.banleft .proList{
	padding-top: 14px;
	display:flex;
	flex-direction: column;
}

.banleft .proList .proItem{
	display:flex;
	justify-content: space-between;
	height:51px;
	line-height:51px;
	padding:0 20px;
}

.banleft .proList .proItem:hover{
	background:#E793B4;
}

.banbottom{
	position: absolute;
	width: 1100px;
	height:385px;
	left:0;
	top:0;
	background: url(../img/banbottom.png) 100% 100%;
	z-index: -1;
}

/* 小方格 */
.xfg{
	width:1100px;
	height:160px;
	margin:25px auto 0px;
	display: flex;
	justify-content: space-between;
}

.xfg .gg{
	width:200px;
	height:160px;
}

.xfg .gg img{
	width:200px;
	height:160px;
}

.xfg .fg{
	width:430px;
	height:160px;
}

.xfg .fg img{
	width:430px;
	height:160px;
}

.divider{
	width:1100px;
	height:100px;
	margin: 30px auto 0px;
}

.divider img{
	width:1100px;
	height:50px;
	
}

.skirt{
	width:1100px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 15px;
	background: rgb(215,174,180);
	
}

.skirt .sTop{
	height: 58px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skirt .sTop .title{
	font-size:20px;
	font-weight:500;
	line-height:58px;
    color:#333;
	margin-left: 23px;
}

.sProduct {
	width:1100px;
	height:600px;
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
}

.sProduct .sProItem{
	width:230px;
	height:280px;
	background: rgb(243,242,240);
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all .3s;
}

.sProduct .sProItem img{
	width:210px;
	height:210px;
	margin: 10px;
	margin-bottom: 5px;
}

.sProduct .sProItem .sProName{
	color:#333333;
	font-size: 14px;
}

.sProduct .sProItem p{
	color:#B0B0B0;
	font-size: 10px;
}

.sProduct .sProItem .sPrice{
	color: rgb(209,162,169);
	
}

.sProduct .sProItem:hover{
	box-shadow: 0 5px 10px #757575;
}


.xiaowu{
	width:1100px;
	margin: 20px auto;
	padding-top: 10px;
	padding-bottom: 15px;
	background: #333333;
	
}

.xiaowu .xTop{
	height: 58px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.xiaowu .xTop .title{
	font-size:20px;
	font-weight:500;
	line-height:58px;
    color:rgb(215,174,180);
	margin-left: 23px;
}

.xProduct {
	width:1100px;
	height:600px;
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
}

.xProduct .xProItem{
	width:230px;
	height:280px;
	background: rgb(243,242,240);
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all .3s;
}

.xProduct .xProItem img{
	width:210px;
	height:210px;
	margin: 10px;
	margin-bottom: 5px;
}

.xProduct .xProItem .xProName{
	color:rgb(209,162,169);
	font-size: 14px;
}

.xProduct .xProItem p{
	color:#B0B0B0;
	font-size: 10px;
}

.xProduct .xProItem .xPrice{
	color: #333333;
	
}

.xProduct .xProItem:hover{
	box-shadow: 0 5px 10px #222222;
}

.tail{
	height:80px;
	line-height: 80px;
	background: #000000;
	margin: 80px auto 0px;
	text-align: center;
}

.tail span{
	color: #E793B4;
	
}